@import "../../../scss/_mixins.scss";
@import "../../../scss/variables.scss";


.card_container {
   position: relative;
   @include align-flex(center);
   flex-direction: column;
   width: 90%;
   gap: 1em;
   background-color: $white;
   margin: 2em 0 6em;
   padding: 3em 2em;
   border-radius: 10px;

   
   &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 100%;
      width: 0.8em;
      height: 10em;
      background: $cyan;
   }

   .card_header {
      position: absolute;
      top: -15%;
      width: 90px;
      height: 90px;
      background-color: $dark-violet;
      border-radius: 50%;
      @include align-flex(center);
   }

   h2 {
      color: $dark-violet;
      padding-top: 1.5em;
   }

   p {
      color: $grayish-violet;
      text-align: center;
   }
}

@media screen and (min-width: 1400px) {
   .card_container {

      &:not(:last-child):after {
         content: "";
         right: -6%;
         top: 50%;
         transform: rotate(90deg);
         height: 2em;
      }

      .card_header {
         transform: translateX(-90%);
      }
   }

   .card_container:nth-child(2) {
      transform: translateY(15%);
   }

   .card_container:nth-child(3) {
      transform: translateY(30%);
   }
}