@import "../../scss/_mixins.scss";
@import "../../scss/variables.scss";


.services_container {
  position: relative;
  height: auto;
  background-color: $light-blue;

  .services_content {
    max-width: $max-width;
    margin: 0 auto;
    height: 100%;
  }
}

form {
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 1em;
  background-color: $dark-violet;
  background-image: url("../../images/bg-shorten-desktop.svg");
  padding: 1.5em;
  border-radius: 8px;

  input {
    padding: 0.7em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: $dark-violet;
    font-family: $font-fam;

    &::placeholder {
      font-size: 16px;
      padding-left: 0.5em;
    }

    &:invalid {
      border: 2px solid $light-red;
      color: $light-red;
    }

    &:valid {
      border: 2px solid green;
      color: green;
    }
  }

  button {
    @include call_to_action;
    width: 100%;
    margin: 0;
    border-radius: 8px;
    padding: 0.55em 1.2em;
    font-size: 18px;
  }
}


@media screen and (min-width: 1024px) {
  form {
    flex-direction: row;
    width: 80%;
    max-width: calc($max-width - 15em);
    padding: 2em;

    input {
      width: 100%;
      padding: 1em;

      &::placeholder {
        font-size: 18px;
      }
    }

    button {
      width: 30%;
      padding: 0.7em 1em;
      font-size: 18px;
    }
  }
}