@import "../../scss/_mixins.scss";
@import "../../scss/variables.scss";


.home_container {
   height: 100vh;

   .home_content {
      max-width: $max-width;
      height: 95%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
   }
}

.home_content {
   .bloc_img {
      overflow: hidden;
      width: 100%;
      padding: 0 1em;

      img {
         width: 150%;
         height: 100%;
      }
   }

   .home_description {
      text-align: center;
      
      h1 {
         font-size: clamp(35px, 5vw, 75px);
         color: $dark-violet;
         line-height: 1.2;
         padding: 0 0.5em;
      }

      p {
         color: $grayish-violet;
         padding: 1.5em;
         font-size: 1.1em;
      }

      button {
         @include call_to_action;
         margin: 0;
         padding: 0.8em 3.5em;
         font-size: 1.2em;
         letter-spacing: 1px;
      }
   }
}

@media screen and (min-width: 390px) {
   .home_container {
      .home_content {
         justify-items: center;
         align-items: start;
      }
   }
}