@import "./scss/variables";
@import "./scss/mixins";


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, #root {
  height: 100%;
  font-family: $font-fam;
  background-color: $light-gray;
}

.App-container {
  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}